<ng-container *ngIf="!loading; else loadingItemsError">
  <div class="row">
    <div class="col-12">
      <div class="card marginTop10">
        <div class="card-header">
          <h2 class="d-inline"> <i class="fa fa-fw fa-clock"></i><strong> Toon loonlijst</strong></h2>
          <a class="float-right btn btn-primary marginTop10" (click)="printLoonlijst()" id="printLoonlijst">
            <i class="fa fa-fw fa-print"></i>
            <span class="d-none d-sm-inline"> Print loonlijst loonlijst</span></a>
        </div>
        <div class="card-body">
          <div class="col-12">
            <div class="alert alert-success" role="alert" [hidden]="successMessage == null">
              {{successMessage}}
            </div>
            <div class="alert alert-danger" role="alert" [hidden]="errorMessage == null">
              {{errorMessage}}
            </div>
            <div class="row align-bottom">
              <div class="col-1 text-left">
                <button class="btn btn-primary marginBottom1O" (click)=veranderHuidigeMaand(-1)><i
                    class="fa fa-fw fa-arrow-left"></i></button>
              </div>
              <div class="col-10 text-center">
                <h2 class=" d-inline ">{{getHuidigeMaand()}}</h2>
              </div>
              <div class="col-1 text-right">
                <button class="btn btn-primary marginBottom1O" (click)=veranderHuidigeMaand(1)><i
                    class="fa fa-fw fa-arrow-right"></i></button>
              </div>
              <div class="col-12">
                <div class="table-responsive">
                  <table class="table table-bordered loonlijst">
                    <thead class="thead-dark">
                      <tr>
                        <th scope="col">Datum</th>
                        <th scope="col">Stel.</th>
                        <th scope="col">Rijtijd</th>
                        <th scope="col">Stat. AT</th>
                        <th scope="col">Stat. Rest</th>
                        <th scope="col">Stat 50%</th>
                        <th scope="col">Admin.</th>
                        <th scope="col">Ander</th>
                        <th scope="col">Ampl.</th>
                        <th scope="col">AP/DP</th>
                        <th scope="col">Totaal AT</th>
                        <th scope="col">Nacht</th>
                        <th scope="col">Zaterd.</th>
                        <th scope="col">Zond.</th>
                        <th scope="col">Ond. 1</th>
                        <th scope="col">Ond. 2</th>
                        <th scope="col">Ond. 3</th>
                        <th scope="col">Onv. pres.</th>
                        <th scope="col">Overwerk. AT.</th>
                        <th scope="col">AVC</th>
                      </tr>
                    </thead>
                    <ng-container *ngIf="!loadingDiensten; else loadingItemsError">
                      <tbody>
                        <tr *ngFor="let item of data">
                          <td>{{item.nummer}}-{{item.maand}}-{{item.jaar}} {{item.naam}}</td>
                          <td>1</td>
                          <td>{{ msToTime(item.rijtijd) }}</td>
                          <td>00:00</td>
                          <td>00:00</td>
                          <td>00:00</td>
                          <td>00:00</td>
                          <td>00:00</td>
                          <td>00:00</td>
                          <td>00:00</td>
                          <td>00:00</td>
                          <td>00:00</td>
                          <td>00:00</td>
                          <td>00:00</td>
                          <td>00:00</td>
                          <td>00:00</td>
                          <td>00:00</td>
                          <td>00:00</td>
                          <td>00:00</td>
                          <td>00:00</td>
                        </tr>
                      </tbody>

                    </ng-container>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-container>

<ng-template #loadingItemsError>
  <tr>
    <td colspan="6" class="text-center">
      <div class="spinner-border spinner" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </td>
  </tr>
</ng-template>
