<div class="row">
  <div class="col-8">
    <h1>Bus chauffeur overzicht:</h1>
  </div>
  <div class="col-4">
    <a class="float-right btn btn-primary marginTop10" [routerLink]="['/buschauffeur-toevoegen']"
      id="buschauffeurtoevoegen">
      <i class="fa fa-fw fa-plus-circle"></i>
      <span class="d-none d-sm-inline"> Buschauffeur toevoegen</span></a>
  </div>
  <div class="col-12">
    <div class="alert alert-success marginTop10" role="alert" [hidden]="successMessage == null">
      {{successMessage}}
    </div>
    <div class="alert alert-danger marginTop10" role="alert" [hidden]="errorMessage == null">
      {{errorMessage}}
    </div>
  </div>
  <div class="col-12">

    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Naam</th>
          <th scope="col">Uurloon</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <ng-container *ngIf="!loadingBusChauffeurs; else loadingItemsError">
        <tbody>
          <tr *ngFor="let item of busChauffeurs; let index = index">
            <th (click)="redirectTo(item)">{{index + 1}}</th>
            <td (click)="redirectTo(item)">{{item.voornaam}} {{item.achternaam}}</td>
            <td (click)="redirectTo(item)">{{item.uurloon }} euro/uur</td>
            <td (click)="redirectTo(item)">acties</td>
          </tr>
        </tbody>
      </ng-container>
    </table>
  </div>
</div>

<ng-template #loadingItemsError>
  <tr>
    <td colspan="6" class="text-center">
      <div class="spinner-border spinner" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </td>
  </tr>
</ng-template>
