<ng-container *ngIf="busChauffeur !== undefined">
  <table class="table-sm table-bordered marginTop10 marginBottom1O">
    <tr>
      <th>Naam:</th>
      <td>{{ busChauffeur.voornaam }} {{ busChauffeur.achternaam }}</td>
    </tr>
    <tr>
      <th>Uurloon:</th>
      <td>{{ busChauffeur.uurloon }} euro/uur</td>
    </tr>
    <tr>
      <th>Geboorte datum:</th>
      <td>{{ busChauffeur.geboorteDatum | date: "dd/MM/yyyy" }}</td>
    </tr>
    <tr>
      <th>Email:</th>
      <td>{{ busChauffeur.email }}</td>
    </tr>
  </table>
</ng-container>

<ng-template *ngIf="busChauffeur === undefined">
  <div class="row">
    <div class="col-2 offset-5 text-center">
      <div class="spinner-border spinner" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </div>
  </div>
</ng-template>
