$breedteSideBar: 50px;

.sidebar {
  height: 100vh !important;
  width: $breedteSideBar;
  background-color: black;
  position: fixed;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;

  i {
    padding: 8px 0px;
    text-align: center;
    color: white !important;

    &:hover {
      background-color: grey;
    }
  }
}

.container-fluid {
  margin-left: $breedteSideBar;
  width: calc(100vw - #{$breedteSideBar});
  //padding-left: calc(15px + #{$breedteSideBar}) !important;
}
