<div class="row">
  <div class="col-12">
    <div class="card marginTop10">
      <div class="card-header">
        <h2 class="d-inline"> <i class="fa fa-fw fa-clock"></i><strong> Dienst overzicht</strong></h2>
        <button class="float-right btn btn-primary" [routerLink]="['/dienst-toevoegen']"
          id="buschauffeurtoevoegen">
          <i class="fa fa-fw fa-plus-circle"></i>
          <span class="d-none d-md-inline"> Dienst toevoegen</span></button>
      </div>
      <div class="card-body">
        <div class="col-12">
          <div class="alert alert-success" role="alert" [hidden]="successMessage == null">
            {{successMessage}}
          </div>
          <div class="alert alert-danger" role="alert" [hidden]="errorMessage == null">
            {{errorMessage}}
          </div>
          <div class="row align-bottom">
            <div class="col-12">
              <div class="table-responsive">
                <table class="table table-bordered">
                  <thead class="thead-dark">
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">Naam</th>
                      <th scope="col">Vanaf</th>
                      <th scope="col">Tot</th>
                      <th scope="col"># min stationnement</th>
                      <th scope="col">Chauffeur</th>
                      <th scope="col">Acties</th>
                    </tr>
                  </thead>
                  <ng-container *ngIf="!loadingDiensten; else loadingItemsError">
                    <tbody>
                      <tr *ngFor="let item of diensten; let index = index">
                        <th (click)="redirectTo(item)">{{index + 1}}</th>
                        <td (click)="redirectTo(item)">{{item.naam}}</td>
                        <td (click)="redirectTo(item)">{{item.startDag.naam }} - {{item.startUur | date: "HH:mm" }}</td>
                        <td (click)="redirectTo(item)">{{item.eindDag.naam }} - {{item.eindUur | date: "HH:mm" }}</td>
                        <td (click)="redirectTo(item)">{{item.totaalAantalMinutenStationnement }}</td>
                        <td (click)="redirectTo(item)" *ngIf="item.busChauffeur != null">{{item.busChauffeur.voornaam}}
                          {{item.busChauffeur.achternaam}}</td>
                        <td (click)="redirectTo(item)" *ngIf="item.busChauffeur == null">Geen chauffeur geselecteerd
                        </td>
                        <td><a (click)="dienstVerwijderen(item)">Verwijderen</a></td>
                      </tr>
                    </tbody>
                  </ng-container>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #loadingItemsError>
  <tr>
    <td colspan="6" class="text-center">
      <div class="spinner-border spinner" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </td>
  </tr>
</ng-template>
