<div class="row">
  <div class="col-12">

    <div class="card marginTop10">
      <div class="card-header">
        <h2><i class="fa fa-fw fa-clock"></i><strong> Dienst toevoegen</strong></h2>
      </div>
      <div class="card-body">
        <form [formGroup]="dienstToevoegenFormulier" class="row" (ngSubmit)='dienstToevoegen()'>
          <div class="col-12">
            <div class="alert alert-success" role="alert" [hidden]="successMessage == null">
              {{successMessage}}
            </div>
            <div class="alert alert-danger" role="alert" [hidden]="errorMessage == null">
              {{errorMessage}}
            </div>
            <h5 class="card-title"><i class="fa fa-fw fa-search"></i> Algemeen: </h5>
            <div class="row align-bottom">
              <div class="col-12 col-sm-6 col-md-4">
                <div class="form-group">
                  <label for="naam" class="marginTop10">Naam</label>
                  <input type="text" class="form-control" id="naam" formControlName="naam">
                </div>
              </div>
              <div class="col-12 col-sm-6 col-md-4">
                <div class="form-group">
                  <label for="startDag" class="marginTop10">Start dag:</label>
                  <select class="form-control" id="startDag" formControlName="startDag">
                    <option [selected]="true" disabled hidden>Kies een dag:</option>
                    <option *ngFor="let key of dagenVanDeWeek" [value]="key.value">{{key.naam}}</option>
                  </select>
                </div>
              </div>
              <div class="col-12 col-sm-6 col-md-4">
                <div class="form-group">
                  <label for="startUur" class="marginTop10">Start uur:</label>
                  <input type="time" class="form-control" id="startUur" formControlName="startUur">
                </div>
              </div>
              <div class="col-12 col-sm-6 col-md-4">
                <div class="form-group">
                  <label for="Buschauffeur" class="marginTop10">Buschauffeur:</label>
                  <select class="form-control" id="Buschauffeur" formControlName="busChauffeur">
                    <option [selected]="true" disabled hidden>Kies een chauffeur:</option>
                    <option *ngFor="let bc of busChauffeurs" [value]="bc.id">{{bc.voornaam}} {{bc.achternaam}}
                    </option>
                  </select>
                </div>
              </div>
              <div class="col-12 col-sm-6 col-md-4">
                <div class="form-group">
                  <label for="eindDag" class="marginTop10">Eind dag:</label>
                  <select class="form-control" id="eindDag" formControlName="eindDag">
                    <option [selected]="true" disabled hidden>Kies een dag:</option>
                    <option *ngFor="let key of dagenVanDeWeek" [value]="key.value">{{key.naam}}</option>
                  </select>
                </div>
              </div>
              <div class="col-12 col-sm-6 col-md-4">
                <div class="form-group">
                  <label for="eindUur" class="marginTop10">Eind uur:</label>
                  <input type="time" class="form-control" id="eindUur" formControlName="eindUur">
                </div>
              </div>
            </div>
          </div>
          <div class="col-12">
            <h5 class="card-title"><i class="fa fa-fw fa-search"></i> Stationnementen: </h5>
            <div class="row align-bottom">
              <div class="col-8">
                <p *ngIf="stationnementen.controls.length == 0">Er zijn (nog) geen stationnementen voor deze dienst.</p>
              </div>
              <div class="col-4 text-right">
                <button type="button" class="btn btn-primary" (click)="addstationnementPoint()"><i
                    class="fa fa-fw fa-plus-circle"></i> stationnement
                  toevoegen</button>
              </div>

              <div class="col-12 marginBottom1O" formArrayName="stationnementen">
                <div class="row marginBottom1O" *ngFor="let item of stationnementen.controls; let i=index"
                  [formGroupName]="i">
                  <div class="col-12 col-md-6 col-lg-3">
                    <label for="aantalMinuten">Totaal aantal minuten: </label>
                    <div class="input-group mb-3">
                      <input type="num" class="form-control" id="aantalMinuten" formControlName="aantalMinuten">
                      <div class="input-group-append">
                        <span class="input-group-text">Minuten</span>
                      </div>
                    </div>
                  </div>
                  <div class="col-12 col-md-6 col-lg-2">
                    <label for="percentage">Tarief: </label>
                    <div class="input-group mb-3">
                      <input type="number" class="form-control" id="percentage" formControlName="percentage">
                      <div class="input-group-append">
                        <span class="input-group-text">%</span>
                      </div>
                    </div>
                  </div>
                  <div class="col-12 col-md-6 col-lg-2 align-self-end">
                    <button type="button" class="btn btn-primary"
                      (click)="deletestationnementPoint(i)">Verwijder</button>
                  </div>
                </div>
              </div>
              <div class="col-12 col-md-5 col-lg-4 text-left">
                <button type="submit" class="btn btn-primary width100"
                  [disabled]='!dienstToevoegenFormulier.valid'>Dienst
                  opslaan!</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
