$breedteSideBar: 60px;

.sidebar {
  height: 100vh !important;
  width: $breedteSideBar;
  background-color: #343a40 !important;
  position: fixed;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;

  i {
    padding: 14px 0px;
    text-align: center;
    color: white !important;

    &:focus {
      border-color: none;
      box-shadow: none;
      outline: 0 none;
    }

    &:hover {
      background-color: Grey;
    }
  }
}

.container-fluid {
  margin-left: $breedteSideBar;
  width: calc(100vw - #{$breedteSideBar});
  //padding-left: calc(15px + #{$breedteSideBar}) !important;
}
