div,
table,
td,
tr,
th {
  //border: 1px solid red;
}

.marginTop10 {
  margin-top: 10px !important;
}

.marginBottom1O {
  margin-bottom: 10px !important;
}

.width100 {
  width: 100%;
}

.btn-primary {
  background-color: #343a40 !important;
  border-color: #343a40 !important;
}

a:hover {
  cursor: pointer !important;
}

@import '~@fullcalendar/core/main.css';
@import '~@fullcalendar/timegrid/main.css';
